* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: lightgray;
}

main {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

hr {
    border: 1px solid rgb(192, 192, 192);
}

nav {
    position: sticky;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: grey;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    object-fit: fill;
    padding: 20px;
}

p {
    font-size: 20px;
    text-shadow: 2px 2px 5px lightgrey;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.infoDiv {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.nav-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #555555;
    background-color: lightgray;
    cursor: pointer;
    margin-right: 10px;
}

.text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}


/* nav a {
    float: left;
    height: auto;
    width: auto;
    padding: 11.2px;
    margin: 20px;
    background-color: lightgray;
    text-decoration: none;
    border-radius: 10px;
} */

.login-form {
    text-align: center;
    padding: 15px;
    background-color: grey;
    width: 25%;
    height: auto;
    margin: auto;
}

.channelSection {
    border-radius: 10px;
    border: 2px solid black;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 25%;
    background-color: grey;
}

.channelDiv {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.messageSection {
    border-radius: 10px;
    border: 2px solid black;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    background-color: grey;
}

.messageDiv {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}


/* .messageInputDiv {
    display: flex;
    flex-direction: row;
    align-self: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
} */

.messageForm {
    display: flex;
    align-self: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.msgInputField {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    text-align: end;
}


/* .formContainer {
    display: flex;
    align-self: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
} */

.timestamp {
    float: right;
}

li {
    list-style: square;
    cursor: pointer;
}

.userNameInput,
.userPasswordInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btnContainer {
    width: 100%;
}


/* Man kan bara ha ett id per element och det måste vara unikt #id.
Man kan ha flera klasser på ett element. .klassnamn */